html, body {
    height: 100%;
}

#div0 {
    height: 75%;
    width: 45%;
    margin-left: 40px; 
    float: left; 
    background-color: lightgray;
}

#div1 {
    height: 75%;
    width: 45%; 
    margin-right: 40px;
    float: right; 
    background-color: lightgrey;
}

button {
    width: 10%;
    height: 10%;
    background-color: black;
    margin-left: 45%;
    margin-top: 45%; 
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    border-color: white; 
}

#mouseFollower {
    position: fixed;
    width: 15%;
    background-color: white;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    pointer-events: none;
}